/* universal styles */
* {
  font-family: 'Noto Sans TC', cursive, sans-serif;
}
/* header styles */
header div {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: space-between;
  align-content: center;
}
.intro-start {
  text-align: center; 
  
}
/* header styles end */
/* universal styles */
.style-1 {
  display: flex; 
  justify-content: center;
  padding-top: 50px;
}

.style-6 {
  padding-top: 11px;
  max-width: 50%;
}
p {
  font-size: 23px;
}

#question {
  font-size: 25px;
}
/* universal styles end */
/* button styles and header button styles; making buttons interative */
.view-high-scores {
  font-size: 25px;
  color:rgb(21, 156, 156);
  height: 30px;
  border: none;
  background-color: transparent;
  outline: none;
}
.view-high-scores:hover {
  color: rgb(9, 122, 85);
}
.start-btn {
  font-size: 25px;
  width: 40%;
  font-weight: bold;
}
.btn-style-1 {
  background-color: purple;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  padding: 8px;
}
.btn-style-1:active {
  background-color: rgb(231, 3, 231);
  box-shadow: 0 2px gray; 
  transform: translateY(1px);
}
.btn-style-1:focus {
  outline: none;
}
.scores-btn {
  padding: 0px;
  width: 200px;
}
.questions, li, .ans-btn {
  padding: 5px 0 3px 5px;
  width: 280px;
  text-align: start;
}
/* button styles end*/
/* removes bullets from ul */
.questions-ul {
  list-style-type: none;
  display: contents;
}

.initials-form {
  height: 30px;
}


/* this hides the sections until they are called on */

#questions,
#final-score,
#high-scores,
#correct-wrong {
  display: none;
}

/* this so it can be used on a cell phone or tablet */
@media screen and (max-width: 980px){
  .style-1 {
    width: 100%;
  }
  .style-6 {
    max-width: 60%;
  }
  .view-high-scores {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }  
  .questions, li, .ans-btn {
    width: 175px;
  }
  .btn-style-1 {
    width: 200px;
  }
  .scores-btn {
    margin-top: 10px;
  } 
  #initials {
    margin-top: 5px;
  }
 
}




